language: ruby

rvm:
  - 2.0.0

bundler_args: --without development production

script:
  - RAILS_ENV=test bundle exec rake db:migrate
  - bundle exec rspec spec

env: TAGGIT_SECRET_TOKEN="foobarbaz"

branches:
  only:
    - master
    - dev